#pragma once

#include <array>

#include "vec.h"
#include "bounds.h"
#include "SDL_gpu.h"

struct TiledEntities
{
	{% for k, v in entities_by_type.items() -%}
		{%- if v|length > 1 -%}
			static const std::array<vec, {{v|length}}> {{k}};
		{%- else -%}
			static const vec {{k}};
		{%- endif %}
	{% endfor %}
};

struct TiledAreas
{
	{% for k, v in areas_by_type.items() -%}
		static const std::array<Bounds, {{v|length}}> {{k}};
	{% endfor %}
};
